<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= title %></title>
    <%- include('partials/head.html') %>
    <script>
        function onLoadUsers(){
            console.log('onLoad');

            fetch('http://localhost:3000/user').then(res => {
                return res.json();
            }).then((users) => {
                console.log(users);
                const tbody = document.getElementById('tbody');
                users.forEach(user => {
                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <th scope="row"> ${user.id} </th>
                        <th> ${user.name} </th>
                        <th> ${user.address} </th>
                        <th> ${user.phone} </th>
                        <th> 
                            <a class="btn btn-warning" href="/delete/${user.id}">DELETE</a>
                            <a class="btn btn-info">UPDATE</a>
                        </th>
                    `;
                    tbody.appendChild(tr);
                });
            });
        }
    </script>
</head>

<body onload="onLoadUsers()" >
    <%- include('partials/navigation') %>
    <h3>USERS PAGE</h3>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="tbody">
                
            </tbody>
        </table>
        
    </div>
</body>

</html>