<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= title %></title>
    <%- include('partials/head.html') %>
</head>

<body>
    <%- include('partials/navigation') %>
    <h3>Contact PAge</h3>
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h1>Form</h1>
            </div>
            <div class="card-body">
                <!-- <form action="/contact" method="POST"> -->
                <form action="/new-contact" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="firstname" placeholder="firstname" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastname" placeholder="lastname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" placeholder="phone">
                    </div>
                    <input type="submit" class="btn btn-primary btn-block">
                </form>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</body>

</html>